/* IMPORTACIÓN DE TIPOGRAFÍAS (Google Fonts) */

@import "tailwindcss";

/**
 * DEFINICIÓN DEL TEMA PERSONALIZADO
 */
@theme {
  /* COLORES DE MARCA */
  --color-lime-fw: #d9ff00; /* Verde Lima */
  --color-dark-fw: #1a1a1a; /* Fondo principal oscuro */
  --color-black-fw: #000000; /* Negro puro */
  --color-card-fw: #111111; /* Color de tarjetas más claro que el fondo. */
  --color-input-fw: #0d0d0d; /* Color de los inputs */

  /* TIPOGRAFÍAS PERSONALIZADAS */
  --font-barlow:
    "Barlow Condensed", sans-serif; /*  Para títulos y elementos de impacto */
  --font-barlow-body: "Barlow", sans-serif; /* Para los demás textos */
}
